*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header{
    padding: 60px;
    background-color: rgb(28, 248, 175);
    color: aliceblue;
    text-align: center
}
.nav{
    display: flex;
    background-color:rgba(0, 0, 0, 0.472);
   
}
    .nav a{
        padding: 15px 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .nav a:hover{
        background-color: antiquewhite;
        color: #000;
    }
/* Column container */
.row{
    display: flex;
    flex-wrap: wrap;
}    

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.fake-image{
    width: 100%;
    background-color: #aaa;
    padding: 20px;
}
 img{
     width: 80%;
     height: ;
 }
.footer{
    background-color: #aaa;
    color: #000;
    padding: 20px;
    text-align: center
}
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }}